* {
  margin: 0;
  padding: 0;
  font-family: montserrat-bold;
  position: relative;
}
body {
  font-size: 100%;
  height: 100vh;
  width: 100vw;
  overflow: scroll;
  background-color: rgb(29, 28, 28);
  overflow-x: hidden;
  user-select: none;
  z-index: 10;
}
@keyframes color{
  100%{
    filter: hue-rotate(360deg);
  }
}
.nav {
  display: block;
  flex-direction: row;
  position: fixed;
  /* background-color: #fff; */
  height: 100%;
  width: 12%;
  z-index: 9;
  animation: gif1 1s ease-in;
}
.nav .navbar {
  position: relative;
  /* background-color: rgb(91, 27, 209); */
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  animation: sh 5s infinite ease-in-out;
  border-radius: 0rem 1.5rem 1.5rem 0rem;
  background-color: rgb(25, 25, 24);
  color: rgb(140, 144, 150);
}
@keyframes sh {
  0%{
    box-shadow: -50px 0px 3rem #00bfff;
  }
  25%{
    box-shadow: -30px 0px 5rem #00bfff;
  }   
  100%{
    box-shadow: -50px 0px 3rem #00bfff;
  }
}
.nav .navbar .sub-nav {
  display: flex;
  justify-content: center;
  top: -10%;
  list-style: none;
  margin: 1rem;
  /* flex-direction: column; */
  position: relative;
  font-size: 125%;
  padding: 0.2rem;
  font-weight: bold;
}
.nav i {
  margin: 3.5%;
  font-size: 150%;
}

.nav i:hover {
  color: #00bfff;
  text-shadow: 0px 0px 2rem #00bfff;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  animation: shodow 1s ease-in-out;
}
.nav img {
  position: relative;
  height: 100%;
  width: 100%;
  border-radius: 2rem;
}
.nav .navbar .sub-nav .btn:hover {
  color: #00bfff;
  text-shadow: 0px 0px 2rem #00bfff;
  /* box-shadow: 0px 0px 2rem #5B1BD1; */
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.nav .navbar .sub-nav .btn-active {
  color: #00bfff;
  text-shadow: 0px 0px 2rem #00bfff;
  /* box-shadow: 0px 0px 2rem #5B1BD1; */
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}



.container {
  position: relative;
  display: block;
  overflow-x: hidden;
  /* flex-direction: column; */
  height: 100%;
  width: 100%;
  scroll-snap-type: y mandatory;
  align-items: center;
  justify-content: center;
  text-align: center;
}
section {
  position: relative;
  height: 100%;
  width: 100%;
  scroll-snap-align: start;
}
.one {
  height: 100%;
  width: 100%;
  position: relative;
  /* display: inline-block; */
  /* background-color:#fff; */
  animation: gif 0.5s ease-in; 
}
.container img {
  float: right;
  height: 30rem;
  top: 10%;
  animation: gif 1s ease-in-out;
}

.one .myabout {
  padding: 5%;
  color: #fff;
  top: 20%;
  position: relative;
  height: 50%;
  width: 35%;
  left: 13%;
  text-align: left;
  /* background-color: #fff; */
  overflow: hidden;
}
.one span {
  position: relative;
  font-size: 3.5rem;
  font-weight: bold;
  bottom: 1rem;
}
.one span:nth-child(1):after {
  content: "";
  position: absolute;
  left: 0%;
  height: 110%;
  width: 100%;
  border-left: 2px solid #1d1d1d;
  animation: type 0.5s steps(4) forwards;
  animation-delay: 1s;
  background-color: #1d1d1d;
  
}

.one span:nth-child(3):after {
  content: " ";
  position: absolute;
  left: 0%;
  background-color: #1d1d1d;
  height: 110%;
  width: 100%;
  animation: type 1s steps(10) forwards;
  animation-delay: 2s;
  border-left: none;
  border-left: 2px solid #1d1d1d;
  overflow: hidden;
}
.one span:nth-child(5):after {
  content: " ";
  background-color: #1d1d1d;
  position: absolute;
  left: 0%;
  height: 110%;
  pointer-events: none;
  width: 100%;
  border: none;
  border-left: 2px solid #1d1d1d;
  animation: type 1.5s steps(20) forwards;
  animation-delay: 3.5s;
}
@keyframes type {
  0%{
    border-left: 2px solid #00bfff;
    /* text-shadow: 0px 0px 0px #0f5fdf; */
  }
  100% {
    /* text-shadow: 0px 0px 100px #0f5fdf; */
    left: 110%;
    background-color: #1d1d1d;
    border-left: 2px solid #1d1d1d;
    /* border-left: none; */

    /* z-index: 2; */
  }
}
.one span:nth-child(1):hover {
  color: #00bfff;
  display: inline-block;
  animation: hay1 0.5s alternate ease-in-out;
}
.one span:nth-child(3):hover {
  color: #00bfff;
  display: inline-block;
  animation: hay1 0.5s alternate ease-in-out;
}

.one span:nth-child(5):hover {
  color: #00bfff;
  display: inline-block;
  animation: hay1 0.5s alternate ease-in-out;
  /* animation-delay: 0.5s; */
}


@keyframes hay1 {
  
 
  25% {
    /* transform: scale(0.8,0.1) ; */
  }
  50% {
    transform: scale(0.8,0.8) ;
  }
  75%{
    transform: scale(0.7,1.3);
  }
}

.one p {
  color: rgb(178, 170, 170);
  left: 0%;
  text-align: left;
  font-size: 1.1rem;
  animation: gif1 6s;
  /* animation-delay: 2.5s; */
}

/* background-color: #36464e; */
@keyframes gif1{
  0%{
    opacity: 0;
    left: -50%;
  }
  100%{
    opacity: 1;
   left: 0%;
    transform: translate(-50,50);
  }
}
@keyframes gif{
  0%{
    opacity: 0;
    left: 50%;
  }
  100%{
    opacity: 1;
   left: 0%;
    transform: translate(-50,50);
  }
}

.upper{
  height: 100%;
  width: 100%;
  background-color: #000;
  position: absolute;
  opacity: 0.8;
  z-index: 11;
  pointer-events: none; 
  color: #fff;
}
section .scroll1{
  text-align: center;
  color: #fff;
  font-size: 0.9rem;
  text-orientation: mixed;
  writing-mode: vertical-lr;
  position: fixed;
  left: 13%;
  top: 8%;
  /* transform: rotate(180deg);  */
  animation: scroll 1s infinite;
}
section .scroll2{
  color: #fff;
  font-size: 0.9rem;
  text-orientation: mixed;
  writing-mode: vertical-lr;
  position: fixed;
  left: 98%;
  top: 70%;
  /* transform: rotate(180deg);  */
  animation: scroll 1s infinite;
}
section .scroll1 i,.scroll2 i{
  transform: rotate(90deg);
  font-size: 1.1rem;
}
@keyframes scroll{
  0%{
    top: 80%;
  }
  50%{
    top: 78%;
  }
  100%{
    top: 80%;
  }
}
.layer{
  position: absolute;
  pointer-events: none; 
  left: 9%;
  z-index: 11;
  /* height: 80%;
  width:  70%; */
  margin: 2%;
  opacity: 1;
}

.layer2{
  position: absolute;
  left: 65%;
}
span::before,span{
  z-index:12;
}
span::after{
  z-index: 12;
}
.four{
  position: relative;
}
.custom-shape-divider-bottom-1670473672 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1670473672 svg {
  position: relative;
  display: block;
  width: calc(153% + 1.3px);
  height: 208px;
}

.container .four .custom-shape-divider-bottom-1670473672 .shape-fill {
  fill: #000000;
}
